.menuNav {
  width: 100%;
  max-width: 80rem;

  margin: 0.5rem auto 0 auto;
  padding: 0 0.5rem;
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 0.5rem;
}

@media (max-width: 48rem) {
  .menuList {
    display: none;
  }
}

@media (min-width: 48rem) and (max-width: 75rem) {
  .menuList {
    display: none;
  }
}
