.breadcrumbs {
  padding: 0 0.5rem 0.5rem 0.5rem;

  border-bottom: 1px solid #eee;
}

.breadcrumbsNav {
  padding-bottom: 0.5rem;
}

.breadcrumbsList {
  display: flex;
}

@media (max-width: 48rem) {
  .breadcrumbs {
    display: none;
  }
}

@media (min-width: 48rem) and (max-width: 75rem) {
  .breadcrumbs {
    display: none;
  }
}
